{% extends 'base.html' %}
{% block content %}
<h1> {{title}}</h1>
{% if request.user.is_authenticated %}
<form action="{% url 'comment' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <button type="submit">Добавить</button>
</form>
{% else %}
<h2>Ели вы хотите оставить отзыв сначала зарегистрируйтесь и авторизуйтесь</h2>
<ul>
    <li>
        <a class="nav-link" aria-current="page" href="{% url 'register' %}">Регистрация</a>
    </li>
    <li>
        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Авторизация</a>
    </li>
</ul>
{% endif %}
<br>
{% for c in object_list %}
    <h3> {{ c.date }} </h3>
    <h2> {{ c.name }} </h2>
    <p> {{ c.comment }} </p>
    <p> {{ c.email }} </p>
    <p> <img class="img-article-left" src="{{c.photo.url}}" width="auto" height="350px"></p>
    {% endfor %}
{% endblock %}