{% extends 'base.html' %}
{% block content %}
<h1>RENT CAR</h1>
<div class="container">
    <h4> Все наши автомобили не старше 5 лет и оборудованы кондиционером. <br>
         Вы можете заказать дополнительно с автомобилем детское кресло. <br>
         Мы доставим вобранный автомобиль по указанному адресу. <br>
         Все автомобили имеют полное страхование от ДТП и страхование здоровья пассажиров.
    </h4>
</div>
<div class="container">
    <div class="row">
    {% for c in car %}
    <div class="col-4">
        <div class="card" >
        <img src="{{c.car.photo.photo_start.url}}" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">{{ c.car.car_model }}</h5>
            <p class="card-text"> Коробка: {{ c.car.transmission }} <br> Тип топлива: {{ c.car.type_fuel }} <br>
            Стоимость: от {{ c.car.price_ten }} до {{ c.car.price_one_five }} руб. </p>
            {% if c.car.sail.sail != 0 %}
                <h4 class="sail"> {{ c.car.sail }} </h4>
            {% endif %}
            <a href="{{ c.car.get_absolute_url }}" class="btn btn-primary">ПОСМОТРЕТЬ ПОДРОБНЕЕ</a>
        </div>
    </div>
    </div>
        {% endfor %}
    </div>
</div>

{% endblock %}