{% extends 'base.html' %}
{% block content %}
<div class="container">
{% if request.user.is_authenticated %}
<div>
<h2>Ваш заказ</h2>
 <p>{{ car.car_model }}</p>
 <p>Зарезервированные даты:</p>
{% for order in get_orders_all %}
    {% if order.order_completed == False %}
    <p>c {{ order.date_star }} по {{ order.date_over }}</p>
{% endif %}
{% endfor %}
</div>
<form action="{% url 'order' car.slug %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <button type="submit">Оформить Заказать</button>
</form>
{% else %}
<h3> Если хотите заказать автомобиль сначала зарегистрируйтесь и авторизуйтесь.</h3>
<h3>Затем выберите интересующий вас авто.</h3>
<ul>
    <li>
        <a class="nav-link" aria-current="page" href="{% url 'register' %}">Регистрация</a>
    </li>
    <li>
        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Авторизация</a>
    </li>
</ul>
{% endif %}
</div>
{% endblock %}