{% extends 'base.html' %}
{% block content %}
<div>
<h2>Ваш заказ</h2>
<p>Выбранный авто: {{ order.car }}</p>
<p>Дата начала аренды: {{ order.date_star }}</p>
<p>Дата завершения аренды: {{ order.date_over }}</p>
<p>Количество дней аренды: {{ order.day_rent }}</p>
<p>Стоимость аренды: {{ order.price_rent }}</p>
<p>Адрес получения автомобиля: {{ order.address }}</p>
<h2>После обработки заказа наш специалист с вами свяжется</h2>
<h2>Спасибо что воспользовались нашими услугами</h2>
</div>
{% endblock %}